################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/sheenam/FileContentIndex/201e57bb-9185-4316-abd1-9affc6c23946.vsidx
